
.tsk-table {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0 15px;
  

}
.messagestart{
  color: #43A047;
  font-size: 36px;
}
.Access{
  width: 20%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tsk-thead {
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 10px;
  color: black;
  height: 40px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.tsk-thead :first-child{
  border-radius: 10px 0px 0px 10px;
}
.tsk-thead :last-child{
  border-radius: 0px 10px 10px 0px;
}
.tsk-thead td{
  padding-left: 10px;
  background-color: #5d5d5d11;
}

.tsk-tr{
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}


.tsk-tr :first-child{
  border-radius: 10px 0px 0px 10px;
  border: inherit
  
}
.tsk-tr :last-child{
  border-radius: 0px 10px 10px 0px;
}
.tsk-tr td{
  padding-left: 10px;
  background-color: white;
}
.Access button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.Access button:hover,.Access button:active,.Access button:focus {
  background: #43A047;
}
.wrap{
  width: 10%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}